Binaries/
Build/
Intermediate/
Saved/
Content/InfinityBladeFireLands/
Content/InfinityBladeGrassLands/
Content/KiteDemo/
Content/WaterMaterials/
Content/Mannequin/
Content/Geometry/
Content/ThirdPersonBP/
Content/ThirdPerson/
Content/AdvancedVillagePack/
Content/AnimStarterPack/
Content/PhotoR_Backgrounds/
Content/InfinityBladeIceLands/
Content/Maps/IceWorld_BuiltData.uasset
Content/GenericNPCAnimPack/
Content/Explosions/
.vs/VRtest22/v15/Browse.VC.db
.vs/VRtest22/v15/Solution.VC.db
.vs/VRtest22/v15/.suo
VRtest22.sln
.vs/VRtest22/v15/ipch/AutoPCH/aaf824b3d9ae6c30/PAPERCHARACTER.ipch
.vs/VRtest22/v15/ipch/AutoPCH/5e0bd9c180f8edbb/BASEMONSTERCHARACTER.ipch
Content/InfinityBladeEffects/
Content/InfinityBladeWarriors/
